@tailwind base;
@tailwind components;
@tailwind utilities;

/* .iti {
  --iti-path-flags-1x: url('path/to/flags.webp');
  --iti-path-flags-2x: url('path/to/flags@2x.webp');
  --iti-path-globe-1x: url('path/to/globe.webp');
  --iti-path-globe-2x: url('path/to/globe@2x.webp');
} */

.irs-bar {
	background: #d81e05 !important;
}

/* Стили для ползунков */
.irs-bar-edge {
	background: #d81e05 !important;
}

/* Стили для переключателей ползунка */
.irs-slider {
	background: #d81e05 !important;
}

.irs-single {
	background: #d81e05 !important;
}
.irs-single:before {
	background: #d81e05 !important;
  border-top-color: #d81e05 !important;
}

.irs-slider.from {
	background: #d81e05 !important;
}

.irs-slider.to {
	background: #d81e05 !important;
}

.irs-handle {
	border: 4px solid #d81e05 !important;
}
